/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.searchbar{
  height: 3px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  background-image: linear-gradient(#FF9482, #5e4a54);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.login-form{
  width: 100%;
  max-width: 250px;
  padding: 10px;
  height:100%;
  margin: auto;
  text-align:left;
}
#login-card {
  position: relative;
  top: calc(27vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 25px;
  padding-bottom: 35px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

.login-button {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  vertical-align: middle;
  display: inline-block;
  color: white;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #4285f4;
  color: white;
}


#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

.backdrop{
  background-image: linear-gradient(#40a9ff, #800080);
  background-image: linear-gradient(#F78FAD, #FDEB82);
  background-image: linear-gradient(#FF9482, #7D77FF);
  background-image: linear-gradient(#FF9482, #765D69);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}


.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px  0 ;
  background-color:#5e4a54;   
  color: whitesmoke;
}

.header__left{
  flex:0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header__left > .MuiSvgIcon-root{
  margin-left: 30px ;
  margin-right: auto ;
  }

  .header__search{
    flex:0.4;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .header__search > Input {
    background-color: transparent;
    border: transparent;
    text-align: center;
    min-width:  10px;
    padding: 0 5px;
    border: 1px grey solid;
    border-radius: 6px;
    color: white;
  }
  .header__search > .MuiSvgIcon-root{
    margin-left: 6px ;
    margin-right: auto ;
    }

   .header__right{
    flex:0.3;
    display: flex;
    align-items: flex-end;
   }

   .header__right > .MuiSvgIcon-root{
    margin-left: auto ;
    margin-right: 10px;
    }

    .sidebar{
      color: white;
      background-color:#5e4a54;   
      border-top: 1px solid #765D69 ;
      max-width: 270px;
    }

    .sidebar__header{
      display: flex;
      border-bottom: 1px solid #5e4a54;
      padding-bottom: 10px;
      padding: 13px;
      border: transparent;
      border: 1px grey solid;
    }

    .sidebar__header > .MuiSvgIcon-root{
      padding: 10px ;
      margin-left: auto ;
      border-radius: 999px;
      color:#5e4a54 ;
      font-size: 35px;
      background-color: aliceblue;
      }
      .sidebar__info{
       flex:1;
      }
      .sidebar__info > h2{
       font-size: 29px;
       font-weight:900;
       margin-bottom: 5px;
      }

      .sidebar__info >h3{
       display: flex;
       align-items: center;
       font-size: 13px;
       font-weight:400;
      }